body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display:flex;
    background-color:dodgerblue;
    height: 100px;
    min-width: 1300px;
}

main{
    Display:flex;
    flex-direction: column;
    min-width: 1300px;
}

.logo{
    display:flex;
    flex-grow: 1;
    align-items: center;
    margin-left: 80px;
}

.logo img{
    width: 70px;
    height: 70px;
}

.logo p{
    font-size: 25px;
    margin-left: 10px;
}

.pesquisar{
    display:flex;
    align-self: center;
    justify-content: center;
}

.inputPesquisar{
    flex-grow: 1;
    padding:12px;
    width:400px;
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.botaoPesquisar{
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.imgPesquisar{
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
}

.login{
    display:flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    margin-right: 80px;
}

.login a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.login img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.login a:hover{
    color:white;
}

nav{
    display:flex;
    justify-content: center;
    background-color: rgb(207, 205, 205);
    min-width: 1300px;
}

nav ul{
    display:flex;
    flex-grow: 1;
    list-style: none;
}

nav li{
    display:flex;
    flex-grow: 1;
    justify-content: space-around;
}

.banner{
    display:flex;
    justify-content: space-around;
    margin:20px;
}

.banner img{
    width:1200px;
    height: 600px;
    border-radius: 10px;
}

main h1{
    font-size: 20px;
    margin: 80px 0px 30px 100px;
}

main a{
    text-decoration: none;
    color:black;
}

.produtos{
    display:grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 500px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    margin-top: 50px;
    justify-content: center;
}

.figureProdutos{
    width: 350px;
    height: 500px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;
    text-align: center;
    margin:0px;
}

.figureProdutos img{
    width: 300px;
    height: 350px;
}

.figureProdutos figcaption{
    padding-top: 10px;
}

.figureProdutos b{
    display:block;
    padding-top: 30px;
    font-size: 18px;
}

footer{
    display:flex;
    justify-content: space-around;
    background-color: rgb(231, 230, 230);
    border-top: solid;
    border-color: dodgerblue;
    margin-top: 100px;
    min-width: 1300px;
}

footer h1{
    font-size: 16px;
}

.redes img{
    width: 20px;
    height: 20px;
}

.lista{
    text-decoration: none;
    color:black;
}

.lista:hover{
    color: dodgerblue;
}

.cadastro{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.cadastro h1{
    margin:0px;
}

.mensagem{
    display:flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-bottom:50px;
}
.mensagem a{
    color: mediumblue;
}

form{
    display:flex;
    flex-grow:1;
    justify-content: center;
    margin: 30px;
}

fieldset{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    border-radius:5px;
    border-color:rgb(224, 224, 224);
    border-style:solid;
}

.input{
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(224, 224, 224);
    height: 20px;
}

.botaoEnviar{
    display: flex;
    border-style: none;
    border-radius:5px;
    background-color: dodgerblue;
    font-weight: bold;
    height: 30px;
    width: 60px;
    align-self: center;
}
